#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

# Mac files
Icon?
.DS_store
Desktop.ini
Thumbs.db

# Built files
**/bin/*
**/*.out
**/*.o
**/*.dSYM
**/ex[0-9]
**/ex[0-9][0-9]

# Local files
.env

# Misc.
!.gitkeep
.idea
.vscode
.projectile
*/tags


